<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
	<title>単語帳</title>
</head>

<body>
	<div th:replace="~{fragment :: header}"></div>
	<div th:replace="~{fragment :: createBookModal}"></div>
	<main>
		<h1 th:text="${book.title}"></h1>
		
		<!-- お気に入りチェックボックス -->
		<div th:if="${loginUserId != null and loginUserId != book.user.id}">
			<form th:action="@{}" method="post">
				<input type="checkbox"
						id="favorite"
						th:checked="${isFavorite}"
						th:data-book-id="${book.id}">
			</form>	
		</div>
		
		<div>
			<a th:href="@{/vocabulary-books/{id}/study(id=${book.id})}" class="btn btn-primary btn-sm">学習を始める</a>


			<div th:if="${loginuserId == book.user.id}">
				<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
					data-bs-target="#editBookModal" th:data-id="${book.id}" th:data-title="${book.title}">編集</button>
				<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
					data-bs-target="#deleteBookModal" th:data-id="${book.id}" th:data-title="${book.title}">削除</button>
			</div>
		</div>

		<div th:if="${loginUserId == book.user.id}">
			<label>共有URL</label>
			<input type="text" id="shareUrl" th:value="${shareUrl}" readonly>
			<button onclick="copyUrl()">コピー</button>
			<span id="copyMessage"></span>
		</div>

		<div th:if="${loginUserId == book.user.id}">
			<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addWordModal">単語を追加する</button>
		</div>
		<p>登録済み単語リスト</p>
		<ul>
			<li th:each="word : ${words}">
				<a href="#" th:text="${word.name}"></a>
				<a href="#" th:text="${word.meaning}"></a>
				<div th:if="${loginUserId == book.user.id}">
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
						data-bs-target="#editWordModal" th:data-id="${word.id}" th:data-name="${word.name}"
						th:data-meaning="${word.meaning}">編集</button>
					<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
						data-bs-target="#deleteWordModal" th:data-word-id="${word.id}">削除</button>
				</div>
			</li>
		</ul>

		<!-- 編集用モーダル -->
		<div class="modal fade" id="editBookModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">単語帳編集</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<form id="editBookForm" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<div class="modal-body">

							<input type="hidden" name="id" id="editBookId">

							<div class="mb-3">
								<label class="form-label">タイトル</label>
								<input type="text" class="form-control" name="title" id="editBookTitle" required>
							</div>

						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">
								更新する
							</button>

							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
								キャンセル
							</button>
						</div>
					</form>

				</div>
			</div>
		</div>
		<!-- 削除確認モーダル -->
		<div class="modal fade" id="deleteBookModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">削除確認</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<div class="modal-body">
						<p>
							<span id="modalBookTitle"></span>
							を本当に削除しますか？
						</p>
					</div>

					<div class="modal-footer">

						<form id="deleteBookForm" method="post">

							<!-- CSRFトークン -->
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

							<button type="submit" class="btn btn-danger">
								削除する
							</button>
						</form>

						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							キャンセル
						</button>

					</div>

				</div>
			</div>
		</div>

		<!-- 単語追加モーダル -->
		<div class="modal fade" id="addWordModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">単語追加</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<form th:action="@{/words/create}" method="post">

						<!-- CSRF -->
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

						<!-- どの単語帳かを送る -->
						<input type="hidden" name="vocabularyBookId" th:value="${book.id}" />

						<div class="modal-body">

							<div class="mb-3">
								<label class="form-label">単語</label>
								<input type="text" class="form-control" name="name" required>
							</div>

							<div class="mb-3">
								<label class="form-label">意味</label>
								<input type="text" class="form-control" name="meaning" required>
							</div>

						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">
								保存
							</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
								キャンセル
							</button>
						</div>

					</form>

				</div>
			</div>
		</div>

		<!-- 編集モーダル -->
		<div class="modal fade" id="editWordModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">単語編集</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<form id="editWordForm" method="post">

						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

						<div class="modal-body">

							<div class="mb-3">
								<label class="form-label">単語</label>
								<input type="text" id="editName" name="name" class="form-control" required>
							</div>

							<div class="mb-3">
								<label class="form-label">意味</label>
								<input type="text" id="editMeaning" name="meaning" class="form-control" required>
							</div>

						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">
								保存
							</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
								キャンセル
							</button>
						</div>

					</form>

				</div>
			</div>
		</div>

		<!-- 削除確認モーダル -->
		<div class="modal fade" id="deleteWordModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">削除確認</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<div class="modal-body">
						本当に削除しますか？
					</div>

					<div class="modal-footer">

						<form id="deleteWordForm" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

							<button type="submit" class="btn btn-danger">
								削除する
							</button>
						</form>

						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							キャンセル
						</button>

					</div>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="~{fragment :: footer}"></div>
	<div th:replace="~{fragment :: scripts}"></div>

	<script th:src="@{/js/vocabularyBook/shareUrl.js}"></script>
	<script th:src="@{/js/vocabularyBook/edit.js}"></script>
	<script th:src="@{/js/vocabularyBook/delete.js}"></script>

	<script th:src="@{/js/word/edit.js}"></script>
	<script th:src="@{/js/word/delete.js}"></script>
</body>

</html>