<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
	<div th:fragment="meta" th:remove="tag">
		<meta charset="UTF-8">
	</div>
	<div th:fragment="styles" th:remove="tag"></div>

<title>部品化用のHTML</title>
</head>
<body>
	<div th:fragment="header" th:remove="tag">
		<header>
			<nav>
				<div>
					<a th:href="@{/}">単語帳アプリ</a>
					
					<button></button>
					
					<div>
						<ul>
							<!-- 未ログインの場合表示する -->
							<li sec:authorize="isAnonymous()">
								<a th:href="@{/login}">ログイン</a>
							</li>
							<li sec:authorize="isAnonymous()">
								<a th:href="@{/signup}">会員登録</a>
							</li>
							
							<!-- ログイン済みであれば表示する -->
							<li sec:authorize="isAuthenticated()">
								<a href="#">
									<span sec:authentication="principal.user.name"></spam>
								</a>
								
								<div>
									<a href="#">単語帳一覧</a>
									<a href="#">単語帳作成</a>
									<a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
										ログアウト
									</a>
									<form id="logout-form" th:action="@{/logout}" method="post"></form>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
	</div>
	
	<div th:fragment="footer" th:remove="tag">
		<footer>
			<div>
				<p>&copy; tangocho</p>
			</div>
		</footer>
	</div>

</body>
</html>